name: Backend Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup SSH key
      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.BACKEND_SSH_KEY }}

      # Install PHP, Composer, Git
      - name: Install PHP, Composer & Git
        run: |
          sudo apt update
          sudo apt install -y php-cli unzip curl git
          curl -sS https://getcomposer.org/installer | php
          sudo mv composer.phar /usr/local/bin/composer
          composer --version

      # Deploy to EC2 server
      - name: Deploy to EC2 Backend
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@18.221.228.203 << 'EOF'
            mkdir -p ~/backend
            cd ~/backend

            if [ ! -d .git ]; then
              git clone https://github.com/Uliwazeer/uptime-kuma.git .
            else
              git reset --hard
              git pull
            fi

            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
          EOF
