name: Backend Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repository: Uliwazeer/uptime-kuma
          ssh-key: ${{ secrets.BACKEND_SSH_KEY }}
          path: backend

      # Setup SSH key for EC2
      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.BACKEND_SSH_KEY }}

      # Install Docker & Docker Compose
      - name: Install Docker & Docker Compose
        run: |
          curl -fsSL https://get.docker.com -o get-docker.sh
          sudo sh get-docker.sh
          sudo usermod -aG docker $USER
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.24.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker --version
          docker-compose --version

      # Install PHP & Composer on EC2
      - name: Install PHP & Composer on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@18.221.228.203 "
          sudo apt update
          sudo apt install -y php-cli unzip git curl
          curl -sS https://getcomposer.org/installer | php
          sudo mv composer.phar /usr/local/bin/composer
          composer --version
          "

      # Deploy backend to EC2
      - name: Deploy Backend
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@18.221.228.203 "
          mkdir -p ~/backend
          cd ~/backend
          git reset --hard
          git clean -fd
          git pull
          composer install --no-interaction --optimize-autoloader
          docker-compose -f docker-compose/docker-compose.yml pull
          docker-compose -f docker-compose/docker-compose.yml up -d
          "
